body {
  font-family: 'Inter', sans-serif;
}

.prospect-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 12px 16px;
  border-bottom: 1px solid #e5e7eb;
}

.prospect-list-header-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.lf-credits-box {
  display: flex;
  padding: 2px 6px;
  align-items: center;
  gap: 2px;
  border-radius: 4px;
  border: 1px solid #bfdbfe;
  background: #eff6ff;

  color: #1d4ed8;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.prospect-tabs {
  display: flex;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.prospect-tab {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #8194ad;
  cursor: pointer;
  padding-bottom: 11px;
  margin-right: 16px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.saved-tab {
  flex: 1;
  margin-right: 0;
}

.prospect-tab-filter {
  margin-left: auto;
}

.prospect-tab.active {
  color: #1d4ed8;
  font-weight: 600;
}

.prospect-tab-highlight {
  height: 3px;
  align-self: stretch;
  border-radius: 2px 2px 0px 0px;
  background: #1d4ed8;
  position: absolute;
  bottom: 0;
  transition: all 0.25s ease-out;
}

.prospect-tab-highlight.leads {
  width: 105px;
}

.prospect-tab-highlight.saved {
  width: 42px;
  transform: translateX(121px);
}

.prospect-saved-count {
  display: flex;
  padding: 2px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 4px;
  background: #f3f4f6;
  color: #6b7280;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.prospect-tabs-skeleton {
  display: flex;
  gap: 16px;
  padding: 12px 16px;
  align-items: center;
  align-self: flex-start;
  gap: 24px;
}

.prospect-tab-actions-skeleton {
  display: flex;
  height: 56px;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 7px;
  flex-shrink: 0;
  align-self: stretch;
  background-color: #f9fafb;
}

.prospect-tab-actions {
  background-color: #f9fafb;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  justify-content: space-between;
}

.action-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  max-width: 48px;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #9ca3af;
  background: #fff;
}

.action-checkbox span {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.action-divider {
  width: 2px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #e5e7eb;
}

.btn-primary {
  background-color: #1d4ed8;
}
.btn-outline-primary {
  color: #1d4ed8;
  border-color: #1d4ed8;
}

.action-button {
  padding: 6px 16px;
  gap: 8px;
  flex: 1 0 0;
}

.action-button.email {
  min-width: 140px;
}

.action-button.sequence {
  min-width: 140px;
}

.action-icon-button {
  padding: 8px !important;
  gap: 8px;
}

.btn-outline-primary:hover {
  background-color: #eff6ff;
}

.ignore-button {
  height: 32px;
  width: 75px;
  padding: 6px 16px !important;
  background: transparent;
  border-color: #e5e7eb !important;
  color: #6b7280 !important;
}

.ignore-button:hover {
  background-color: rgba(107, 114, 128, 0.05);
}

.tooltip {
  padding: 10px 0px;
}

.tooltip.show {
  opacity: 1;
}

.tooltip .tooltip-arrow,
.tooltip .arrow {
  position: absolute;
  width: 12px;
  height: 6px;
}

.tooltip .tooltip-arrow::before,
.tooltip .arrow::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #1f2937 transparent;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-inner {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 4px;
  background: #1f2937;

  color: #fff;
  text-align: center;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

/* Custom tooltip styles */
.tooltip-container {
  position: relative;
  display: flex;
}

.tooltip-container:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}

.custom-tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 9999;
  background: #1f2937;
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  text-align: center;
  font-family: Inter;
  width: max-content;
  max-width: 200px;
}

/* Bottom tooltip */
.tooltip-bottom {
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-bottom::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 6px solid transparent;
  border-bottom-color: #1f2937;
}

.prospect-list-items-container {
  height: 80vh;
  overflow-y: auto;
  padding-top: 4px;
}

.prospect-list-items-container-skeleton {
  overflow: hidden;
  height: 80vh;
}

/* Webkit */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

.prospect-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-bottom: 1px solid #f3f4f6;
}

.prospect-item.expanded {
  background-color: #f9fafb;
  border-bottom: none;
}

.prospect-item-info {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.prospect-item-checkbox {
  display: flex;
  align-items: center;
}

.prospect-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.prospect-image img {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.prospect-item-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 224px;
}

.prospect-item-details-unavailable {
  gap: 8px;
}

.prospect-name {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  justify-content: space-between;
  width: 100%;

  color: #1f2937;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.prospect-description {
  color: #6b7280;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 36px;
}

.prospect-description-revealed {
  display: flex;
  align-items: center;
  gap: 8px;
}

.prospect-description-revealed-email {
  color: #6b7280;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 156px;
}

.prospect-email-unavailable {
  display: flex;
  align-items: center;
  gap: 8px;
}

.prospect-email-unavailable-icon {
  opacity: 0.35;
}

.prospect-email-unavailable-text {
  color: #6b7280;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  opacity: 0.35;
}

.prospect-item-expand-icon {
  border-radius: 2px;
  background: #fff;
  margin-left: auto;
}

.prospect-item-expand-icon.disabled {
  opacity: 0.35;
  cursor: not-allowed;
}

.prospect-item-expanded {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid #f3f4f6;
  background-color: #f9fafb;
  padding-left: 84px;
  padding-bottom: 12px;
  padding-right: 16px;
}

.prospect-item-expanded span {
  color: #6b7280;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}

.prospect-item-expanded-email,
.prospect-item-expanded-phone,
.prospect-item-expanded-sequences-title,
.prospect-item-expanded-tags-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.prospect-item-expanded-sequences-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 2px;
}

.prospect-item-expanded-sequences-item span {
  color: #1f2937;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 24px;
}

.prospect-item-expanded-tags-list {
  display: flex;
  padding: 2px 4px;
  align-items: center;
  align-content: center;
  gap: 8px;
  flex: 1 0 0;
  flex-wrap: wrap;
  margin-top: 12px;
}

.prospect-item-expanded-tags-item {
  display: flex;
  height: 22px;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
  background: #dbeafe;
}

.prospect-item-expanded-tags-item span {
  color: #1f2937;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Custom Modal Styles */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.custom-modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.custom-modal {
  background: white;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  position: relative;
  transform: translateY(-20px);
  transition: transform 0.2s ease-in-out;

  box-shadow: 2px 2px 16px -3px rgba(4, 21, 76, 0.16),
    8px 16px 56px -24px rgba(156, 157, 161, 0.24);
}

.custom-modal-overlay.show .custom-modal {
  transform: translateY(0);
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e5e7eb;
}

.custom-modal-title {
  color: #1f2937;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
}

.custom-modal-close {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal-body {
  color: #6b7280;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 16px 24px 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.custom-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin: 0 16px 16px 16px;
  padding-top: 16px;
  border-top: 2px solid #f3f4f6;
}

.add-to-sequence-modal-body {
  padding: 16px;
}

/* Prevent body scroll when modal is open */
body.modal-open {
  overflow: hidden;
}

/* Base button styles */
.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  border-radius: 4px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}

.custom-button:focus {
  outline: none;
  box-shadow: none !important;
}

.custom-button.btn-primary {
  background-color: #1d4ed8;
  color: white;
  border-color: #1d4ed8;
}

.custom-button.btn-primary:hover {
  background-color: #1e40af;
}

.custom-button.btn-outline-primary {
  background-color: transparent;
  color: #1d4ed8;
  border-color: #1d4ed8;
}

.custom-button.btn-outline-primary:hover {
  background-color: #eff6ff;
}

.custom-button.disabled {
  opacity: 0.35;
  cursor: not-allowed;
}

/* Custom input styles */
.custom-input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  background: #fff;
  font-family: Inter;
  font-size: 14px;
  line-height: 20px;
  color: #1f2937;
  transition: border-color 0.2s ease-in-out;
}

.custom-input:focus {
  outline: none !important;
  border-color: #1d4ed8 !important;
  box-shadow: none !important;
}

.custom-input::placeholder {
  color: #9ca3af;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/* Update modal button styles */
.custom-modal-footer .action-button {
  max-width: 100px;
  height: 32px;
}

.spinner {
  height: 16px;
  width: 16px;
  border: 2px solid #1d4ed8;
  border-bottom: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-white {
  border: 2px solid white;
  border-bottom: 2px solid transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.copy-icon {
  opacity: 0;
  display: flex;
  cursor: pointer;
}

.prospect-item-expanded-email:hover .copy-icon,
.prospect-item-expanded-phone:hover .copy-icon,
.prospect-description-revealed:hover .copy-icon,
.copy-icon:hover {
  opacity: 1;
}

.cursor-pointer {
  cursor: pointer;
  display: flex;
}

.checkbox-disabled {
  opacity: 0.35;
  cursor: not-allowed;
}

#react-select-1-input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
#react-select-2-input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
#react-select-3-input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
#react-select-4-input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
#react-select-5-input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
#react-select-6-input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.filter-section-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.prospect-filter {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.prospect-filter span {
  color: #6b7280;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.filter-action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  padding: 8px 0px;
  margin-top: 14px;
}

.clear-filter-button {
  color: #6b7280;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.filter-apply-button {
  width: 100px;
}

.filter-modal {
  background: white;
  position: absolute;
  z-index: 9999;
  left: calc(100% - 16px);
  transform: translateX(-100%);
  top: calc(100% - 4px);
  width: 260px;
  box-shadow: 0px 0px 20px 0px rgba(0, 13, 56, 0.12);
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  cursor: default;
}

.filter-modal.show {
  opacity: 1;
  visibility: visible;
}

.filter-modal-body {
  padding: 16px 16px 0px 16px;
}

.filter-container.filter-applied {
  display: flex;
  padding: 0px 2px;
  align-items: center;
  gap: 4px;
  border-radius: 2px;
  outline: 1px solid #dbeafe;
  background: #eff6ff;
}

.clear-filter {
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 8px;
  border-left: 1px solid #dbeafe;
}

.clear-filter img {
  width: 12px;
  height: 12px;
}

/* Loading spinner container for infinite scroll */
.loading-spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

.loading-spinner-container .spinner {
  width: 24px;
  height: 24px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #007bff;
  animation: spin 1s ease-in-out infinite;
  margin-bottom: 10px;
}

.loading-spinner-container span {
  color: #6c757d;
  font-size: 14px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.button-hover-effect {
  cursor: pointer;
  display: flex;
}
.button-hover-effect:hover {
  background-color: #f9fafb;
  border-radius: 2px;
}

.email-insight-tooltip {
  transform: translateX(-90%) !important;
}

.email-insight-tooltip::before {
  left: 90% !important;
}
.email-tracking-tooltip {
  width: 193px;
  text-wrap: auto;
  text-align: left;
}

.add-to-sequence-container:hover {
  background-color: #f9fafb !important;
}
.add-tags-container:hover {
  background-color: #f9fafb !important;
}
.revealed-tag-modal-body {
  padding-top: 16px;
}

.react-datepicker {
  box-shadow: none;
  padding: 0 !important;
  font-family: 'Inter' !important;
  border: none !important;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 16px !important;
}
.reacr-datepicker__month-container {
  width: 13.5rem;
  min-height: 15rem;

  padding: 0.75rem !important;

  border-radius: 0.25rem !important;
  border: none !important;
}
.react-datepicker__header {
  background-color: transparent !important;
  padding: 0px !important;
  background-color: rgb(255, 255, 255) !important;
  border-bottom: 1px solid rgb(243, 244, 246) !important;
}
.react-datepicker__month {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem 0px 0px !important;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px !important;
}

.react-datepicker__day,
.react-datepicker__day-name {
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px !important;
  height: 28px !important;
  text-align: center !important;
  line-height: 16px !important;
  color: rgb(156, 163, 175) !important;
  padding: 6px 0px !important;
  margin: 0px !important;
  border-radius: 0.25rem !important;
}

.react-datepicker__day {
  font-weight: 400;
  user-select: none;
  color: rgb(31, 41, 55) !important;
}
.react-datepicker__day--outside-month {
  color: rgb(156, 163, 175) !important;
}

.react-datepicker__week {
  display: flex;
}

.react-datepicker__day--in-range {
  background-color: rgb(230, 247, 255) !important;
  color: #000 !important;
}
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: rgb(1, 55, 252) !important;
  color: #fff !important;
}

.react-datepicker__day--in-selecting-range {
  background-color: #e6f7ff !important;
  color: #000 !important;
}

.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end {
  background-color: rgb(1, 55, 252) !important;
  color: #fff !important;
}

.react-datepicker__day--selected {
  font-weight: 600;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(29, 78, 216) !important;
}

.pick-date-and-time-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.pick-date-and-time-header p {
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(31, 41, 55);
}
.pick-date-and-time-action-btns {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pick-date-and-time-action-btns button {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
  height: 24px;
  width: 24px;
}
.pick-date-and-time-action-btns button:hover {
  background-color: #f9fafb;
}
.custom-down-chevron {
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 8px;
}
.custom-down-chevron img {
  width: 16px;
  height: 16px;
}

.custom-down-chevron img:hover {
  background-color: #f9fafb;
  border-radius: 2px;
}

.custom-multi-value-remove {
  display: flex;
  align-items: center;
}

.custom-switch .switchToggle input:checked + label {
  background: #1d4ed8 !important;
}
.popup-platform-item:hover {
  background-color: #f9fafb;
}
