.v5165_442503 {
  width: 666px;
  height: 580px;
  background: white;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v5165_442505 {
  width: 588px;
  height: 330px;
  position: absolute;
  top: 47px;
  left: 30px;
  overflow: hidden;
}

.v1927653 {
  border: none;
  border-radius: 6px;
  width: 588px;
  height: 330px;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.v5165_442510 {
  width: 606px;
  color: black;
  position: absolute;
  top: 397px;
  left: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v5165_442511 {
  width: 606px;
  height: 55px;
  position: absolute;
  top: 435px;
  left: 30px;
  overflow: hidden;
}
.v5165_442512 {
  width: 291px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v5165_442514 {
  width: 265px;
  color: black;
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v5165_442515 {
  width: 291px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}

.v5165_442517 {
  width: 265px;
  color: black;
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v5165_442518 {
  width: 291px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 315px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5165_442520 {
  width: 265px;
  color: black;
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v5165_442521 {
  width: 291px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 315px;
  overflow: hidden;
}

.v5165_442523 {
  width: 265px;
  color: black;
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}

.v09786 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 3px;
}

.shbutton {
  margin-top: 490px;
  margin-left: 260px;
  position: absolute;
  width: 142px;
  height: 32px;
  background: #1d4ed8;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.divHeader {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
